button {
    cursor: pointer;
    font-size: 16px;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5em;

    .logged-user-buttons {
        display: flex;
        gap: 10px;
        button {
            font-weight: 500;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            gap: 0.4em;

            img {
                width: 12px;
                height: 12px;
            }
        }

        .edit-btn,
        .edit-comment-btn {
            color: $moderate_blue;
        }

        .delete-btn {
            color: $soft_red;
        }
    }

    .votes-container {
        padding: 8px;
        width: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $very_light_gray;
        border-radius: 0.4em;

        button {
            background-color: transparent;
            border: none; 
            font-size: 22px;
            color: $light_grayish_blue;
        }

        span {
            color: $moderate_blue;
        }
    }


    .reply-button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        gap: 0.4em;
        color: $moderate_blue;
        font-weight: 500;

        img {
            width: 12px;
            height: 12px;
        }
    }
}

.submit-reply-btn,
.update-btn {
    border: none;
    color: $white;
    background-color: $moderate_blue !important;
    padding: 0.6em 1.2em;
    border-radius: 0.4em;
}

.update-btn {
    margin-top: 24px;
}
