ul {
    list-style: none;
}

.comment,
.new-comment {
    background-color: $white;
    margin-bottom: 1.2em;
    padding: 0.75em;
    border-radius: 0.4em;
    display: flex;
    flex-direction: column;

    .comment-info {
        width: 100%;
    }

    .user-data {
        display: flex;
        align-items: center;
        gap: 14px;

        .avatar {
            width: 34px;
            height: 34px;
        }

        .username {
            font-weight: 700;
        }

        .comment-author-flag {
            background-color: $moderate-blue;
            color: $white;
            padding: 1px 2px;
            border-radius: 0.1em;
        }

        .date {
            color: $grayish_blue;
        }
    }

    .content {
        color: $grayish_blue;
        line-height: 24px;

        .replying-to {
            color: $moderate-blue;
            font-weight: 700;
        }
    }
}

.replies-container {
    border-left: 2px solid $light_gray;
    padding-left: 20px;

    @media screen and (min-width: 800px) {
        margin-left: 20px;
    }
}

.new-reply-window {
    background-color: $white;
    margin-bottom: 20px;
    margin-top: -10px;
    padding: 12px;

    .bottom-reply-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1em;

        img {
            width: 34px;
            height: 34px;

        }

    }
}
.comment-wrapper {
    display: flex;

    .comment-wrapper-desktop {
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
    border: 1px solid $light_gray;
    border-radius: 0.4em;
    font-size: 16px;
}

.comment-data {
    justify-content: space-between;
    margin-top: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    z-index: 20;
    padding: 20px;
    width: 350px;
    border-radius: 0.4em;

    h2 {
        margin-bottom: 20px;
        color: $dark_blue;
    }

    p {
        color: $grayish_blue;
    }

    .popup-buttons-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin-top: 14px;
    
        button {
            width: 100%;
            padding: 12px 0;
            border-radius: 0.4em;
            font-size: 16px;
            color: $white;
        }
    
        .cancel-btn {
            background-color: $grayish_blue;
        }
    
        .confirm-delete-btn {
            background-color: $soft_red;
        }
    }
}
