body {
    background-color: $very_light_gray;
}

button {
    cursor: pointer;
}

.comments-section {
    max-width: 100%;
    min-height: 100vh;

    .container {
        padding: 14px;

        .comments,
        .replies-container {
            list-style: none;
        }
    }

    .replies-container {
        padding-left: 20px;
    }
}

.comment-wrapper {
    display: flex;
    flex-direction: column;
    background-color: $white;
    padding: 12px;
    margin-bottom: 1em;
    border-radius: 0.4em;
    
    @media screen and (min-width: 600px) {
        flex-direction: row-reverse;
        align-items: center;
        position: relative;
    }

    img {
        width: 2em;
        height: 2em;
    }

    .user-info {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    .buttons-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1em;

        .votes {
            padding: 10px 16px;
            background-color: $very_light_gray;
            width: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 0.7em;

            button {
                border: none;
                background-color: transparent;
                font-size: 20px;
                color: $light_grayish_blue;
            }

            span {
                color: $moderate_blue;
            }
        }
    }

    .created-at,
    p {
        color: $grayish_blue;
    }

    p {
        line-height: 22px
    }

}

.reply-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 0.5em;
    background-color: transparent;
    border: none;
    color: $moderate_blue;
    font-weight: 500;

    img {
        width: 10px;
        height: 10px;
    }

    @media screen and (min-width: 600px) {
        position: absolute;
        right: 0;
        top: 10%;
    }
}

.replies-container {
    border-left: 2px solid $light_gray;
}